  body {
      background-color: rgb(0, 0, 0);
      color: rgb(187, 0, 0);
      font-family: "poppins", system-ui 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 25px;
  }

  .cont {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 20px;
  }

  button {
      background-color: rgba(219, 3, 3, 0.763);
      color: rgb(255, 255, 255);
      border-radius: 7px;
      height: 50px;
      width: 300px;
      font-size: 30px;
      font-weight: 600;
  }

  @media (min-width: 320px) and (max-width: 1200px) {
      body {
          font-size: 20px;

      }

      .cont {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 15px;
      }

  }